main {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .welcomeSection {
    background-image: url("../../assents/welcome-picture.png");
    background-position: center center;
    height: 650px;
    width: 100%;
    color: rgb(255, 255, 225, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .welcomeContainer {
      max-width: 380px;
      text-align: center;
    }
  }

  .teamSection {
    margin-top: 100px;
    margin-bottom: 106.8px;
    text-align: center;

    .employeeList {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .formSection {
    picture {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}

@media (max-width: 360px) {
  .welcomeSection {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .welcomeSection {
    height: 500px;
  }
}

@media (max-width: 1024px) {
}
