header {
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid black;

  .container {
    height: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .logo {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 360px) {
  .container {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}
